<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    <title>Titulo de la pagina</title>
</head>

<head style="border: solid red; height: 40px;">
    <a href="">opcion uno</a>
    <a href="">opcion dos</a>
    <a href="">opcion tres</a>
</head>

<body>
    <h1>Contenido</h1>
    <div class="cell callout success">
        <h5>Callout</h5>
        <p>kaskhv asfvfdsjkfajbkfs</p>
        <a href="#">annanksdnkanksdnk</a>
    </div>
</body>

<footer style="background: orange;">
    <ul class="vertical medium-horizontal menu">
        <li><a href="#0"><i class="fi-list"></i><span>One</span></a></li>
        <li><a href="#0"><i class="fi-list"></i><span>Two</span></a></li>
        <li><a href="#0"><i class="fi-list"></i><span>Three</span></a></li>
        <li><a href="#0"><i class="fi-list"></i><span>Four</span></a></li>
    </ul>

</footer>

</html>