{% extends 'base.html' %}


{% block title %}
    Registrar Departamento
{% endblock title %}


{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Registrar Departamento</h1>
            <form class="cell callout grid-x grid-margin-x" method="POST">
                {% csrf_token %}
                <div class="cell medium-6">
                    <label>
                        Nombres:
                        {{ form.nombre }}
                    </label>
                </div>
                <div class="cell medium-6">
                    <label>
                        Apellidos:
                        {{ form.apellidos }}
                    </label>
                </div>
                <div class="cell medium-6">
                    <label>
                        Área:
                        {{ form.departamento }}
                    </label>
                </div>
                <div class="cell medium-6">
                    <label>
                        Nombre corto:
                        {{ form.shorname }}
                    </label>
                </div>
                <div class="cell medium-12">
                    <button type="submit" class="button success">Guardar</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}
    
    